<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684685457024-vguhj2b00gso0tp1bghhgc5vaa8q742p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684685457024-vguhj2b00gso0tp1bghhgc5vaa8q742p</string>
	<key>API_KEY</key>
	<string>AIzaSyBcy-F-u9j-umIvVlW01jTM5_E6leZCyjg</string>
	<key>GCM_SENDER_ID</key>
	<string>684685457024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boxitup.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>boxitup</string>
	<key>STORAGE_BUCKET</key>
	<string>boxitup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684685457024:ios:99691a122174e3c324d865</string>
</dict>
</plist>